body {
    font-family: Arial, sans-serif;
    background: url("./images/bg.jpg");
    background-repeat: no-repeat;    
    background-size: cover;            
    background-position: center;     
    background-attachment: fixed;     
    color: black;
    margin: 0;
}

.container {
    width: 500px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.6);  
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.card {
    background: rgb(166, 166, 192);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.output {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

